<a href="https://colab.research.google.com/github/manish2393cool/ML-Python/blob/master/6_KNN_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## KNN Classifier

In [0]:
/content/sample_data/breast-cancer-wisconsin.data

In [0]:
import numpy as np
from sklearn import preprocessing, neighbors
import pandas as pd

In [0]:
from sklearn import preprocessing, svm
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.model_selection import ShuffleSplit
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_validate
from sklearn.metrics import recall_score
from sklearn.metrics.scorer import make_scorer
# train test split
from sklearn.model_selection import train_test_split

# cross_validation to handle bias and spread the data points

In [14]:
cols=['id','clump_thickness','unif_cell_size','unif_cell_shape','marg_adhession','single_epith_cell_size','bare_nuclei','bland_chrom','norm_nuclei','mitoses','class']
df = pd.read_csv('/content/sample_data/breast-cancer-wisconsin.data', index_col=None,header=None)
df.columns = cols
df.replace('?', -99999, inplace=True)
df.drop(['id'], 1, inplace=True)
df.head()

   clump_thickness  unif_cell_size  ...  mitoses  class
0                5               1  ...        1      2
1                5               4  ...        1      2
2                3               1  ...        1      2
3                6               8  ...        1      2
4                4               1  ...        1      2

[5 rows x 10 columns]

In [0]:
x = np.array(df.drop(['class'],1))
y = np.array(df['class'])

x_train, x_test, y_train, y_test = train_test_split(x, y)

In [18]:
clf = neighbors.KNeighborsClassifier()
clf.fit(x_train, y_train)

accuracy = clf.score(x_test, y_test)
print(accuracy)

0.9542857142857143

In [35]:
example_measure = np.array([[4,2,1,1,1,2,3,2,1],[5,3,3,2,3,5,6,4,9]])

prediction = clf.predict(example_measure.reshape(len(example_measure),9))
print(prediction)

[2 4]

## KNN using Eucledian Distance from scratch